body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0; 
}

a {
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: 900;
}

.main-sections {
    display: flex; 
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:65px ;
}

.mid-section {
    display: flex;
    background-image: url(images/mid-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 

}

.lefty {
    border-left: 12px solid;
    padding: 10px 30px; 
    border-image: linear-gradient(blue, white);
    border-image-slice: 1;
    box-shadow: 5px 5px 20px grey;
       
    
}

.half-split {
    width: 50%;
}

#img-fix1 {
    width: 80%;
}

#img-fix2 {
    width: 40%;
    margin-left: 125px;
    margin-top: 5px;
}

h1 {
    color: rgb(53, 53, 117);
    font-size: 35px;
}

h2 {
    color: rgb(53, 53, 117);
    font-size: 25px;
}

span {
    color: orange;
}

.centered {
    text-align: center;
    margin: 50px 300px; 
}

.boxed {
    box-shadow: 10px 10px 40px grey;
    border-radius: 30px;
    margin: 10px 40px 10px 5px; 
    padding: 15px; 
}

.boxed p {
    font-family: 'Tangerine', cursive;
    text-align: justify;
    font-size:30px; 
    font-weight: 500;
}
.boxed img {
    height: 200px;
    width: 100%;
    border-radius: 30px;

}

#shadow {
    box-shadow: 10px 10px 40px rgb(108, 168, 247) ;
    border-radius: 25px;
    border: 2px dashed rgb(108, 168, 247);
    margin-left: 70px; 
}

.ending {
    background-color: rgb(108, 168, 247);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}


